<div class="row justify-space-between-md" style="background-color:#A5AAA3;">
  <div class="login-card">
    <h2 class="page-title1">Login</h2>
    <form class="form login-form">
      <div class="form-group update">
        <label for="email-login">Email:</label>
        <input class="form-login" type="text" id="email-login" />
      </div>
      <div class="form-group update">
        <label for="password-login">Password:</label>
        <input class="form-login" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="login-card2">
    <h2 class="page-title">Signup</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup">Username:</label>
        <input class="form-login" type="username" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-login" type="email" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-login" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="/login.js"></script>